
.defTable_div, .valuesTable_div {
	margin-top: 10px;
	vertical-align: middle;
	}
	
.defTable_div td, th {
    border: 1px solid #000000; 
    padding: 3px;
}
.setDecision {
    border: 3.5px solid
}
.setEvidence{
    border: 3.5px solid
}
.defTable_div th {
    background-color: #fdcb2d;
}
.defTable_div td {
    background-color: #ffefb3;
}

.description_div {
	margin-top: 10px;
}

.valuesTable_div td, th {
    border: 1px solid #000000; 
    padding: 3px;
}

.valuesTable_div th {
    background-color: #fdcb2d;
}
.valuesTable_div td {
    background-color: #ffefb3;
}
.dialogButton {
	margin-top: 10px;
}

.editableTable .editable input[type=text]{
     
}
.info_div {
    font-weight: bold;
}
input {
    width: 100%;
    padding: 1px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
td {
min-width:50px
}